/* Home Page */

body {
    background-image: url(../images/leaf-pattern.png);
    background-attachment: fixed;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    transition: top 0.3s;
    background-image: url(../images/log-navbar.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    padding-top: 8px;
}

.nav-link {
    margin: 0px 30px 6px 30px;
    font-family: 'Oregano', cursive;
    font-size: 24px;
    color: rgb(243, 221, 174);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(148, 196, 98);
}

.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 855px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    font-family: 'Oregano', cursive;
    font-style: italic;
    font-size: 110px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -170px;
}

.banner-subtitle {
    font-family: 'Oregano', cursive;
    font-size: 40px;
    color: black;
    margin-top: 40px;
}

.frog-section {
    position: absolute;
    top: 600px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dancing-frog {
    width: 350px;
    height: auto;
}

.divider {
    background: rgb(22, 21, 19);
    height: 0px;
}

#log-divider {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -72px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.site-content {
    padding-top: 70px;
}

.section-title {
    text-align: center;
    font-family: 'Oregano', cursive;
    font-size: 34px;
    padding: 20px 10px 10px 10px;
}

.separation {
    border-bottom: 2px solid rgb(60, 47, 38);
    width: 400px;
    margin: 0 auto;
}

.gallery-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-links {
    display: flex;
    justify-content: center;
}

.gallery-link {
    margin: 50px 65px 0px 65px;
    font-family: 'Oregano', cursive;
    font-size: 26px;
    text-align: center;
}

.character-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/character/dia-de-los-muertosfinal.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layout-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/layout/visdevhw2-final.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.traditional-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/traditional/mermanbook-pg2.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.character-image:hover,
.layout-image:hover,
.traditional-image:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari */
    transform: scale(1.01);
}

.character-image:active,
.layout-image:active,
.traditional-image:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
}

.character-link,
.layout-link,
.traditional-link {
    color: rgb(60, 47, 38);
}

.space-top {
    height: 300px;
}

.space {
    height: 200px;
}

.about-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.haley-cartoon {
    width: 180px;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
}

.about-writing-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}

.about-paragraph {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
}

.contact-section {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 160px;
}

.contact-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-items a {
    margin: 20px 30px 0px 30px;
    background: rgb(60, 47, 38);
    border-radius: 5px;
}

.contact-items img {
    width: 34px;
    height: 34px;
}

.icon:hover {
    background: rgb(148, 196, 98);
}

.icon:active {
    transform: scale(0.9, 0.9);
}

.footer {
    text-align: center;
    margin-top: 60px;
    padding: 4px;
    color: rgb(243, 221, 174);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/* ======================================================== */

/* Home Page Media Queries */

@media only screen and (max-width: 1700px) {
    .jumbotron {
        background-position: left;
    }
}

@media only screen and (max-width: 1500px) {
    .space-top {
        height: 200px;
    }
}

@media only screen and (max-width: 1200px) {
    .gallery-link {
        margin: 50px 30px 0px 30px;
    }

    .contact-items a {
        margin: 20px 20px 0px 20px;
    }

    .about-paragraph {
        width: 120%;
        padding: 20px 20px 10px 20px;
    }
}

@media only screen and (max-width: 1100px) {
    .space-top {
        height: 180px;
    }

    #log-divider {
        min-height: 140px;
    }
}

@media only screen and (max-width: 900px) {
    .banner-title {
        color: white;
    }
    
    .banner-subtitle {
        color: white;
    }
}

@media only screen and (max-width: 767px) {
    .gallery-section {
        text-align: center;
    }
    
    .gallery-links {
        display: inline-block;
    }
    
    .link-title-traditional {
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 650px) {
    body {
        background-image: url(../images/leaf-pattern.png);
        background-attachment: scroll;
        background-size: 60%;
    }
    
    .nav-link {
        margin: 0px 5px 6px 5px;
        font-size: 20px;
    }

    #navbar {
        position: static;
        box-shadow: none;
    }

    .jumbotron {
        height: 700px;
    }

    .banner-title {
        font-size: 60px;
        margin-top: -230px;
    }

    .banner-subtitle {
        font-size: 30px;
        margin-top: -10px;
    }

    .frog-section {
        top: 540px;
    }

    .dancing-frog {
        width: 300px;
    }

    .about-paragraph {
        width: 100%;
        padding: 20px 20px 10px 20px;
    }

    .about-writing-section {
        display: block;
        width: 100%;
    }

    .about-left {
        text-align: center;
    }

    .contact-items a {
        margin: 20px 10px 0px 10px;
    }
}

@media only screen and (max-width: 550px) {
    .gallery-link {
        margin: 50px 20px 0px 20px;
    }

    .contact-items a {
        margin: 20px 5px 0px 5px;
    }

    .separation {
        width: 200px;
    }
}

@media only screen and (max-width: 415px) {
    .banner-title {
        font-size: 60px;
    }

    #log-divider {
        min-height: 110px;
        top: -25px;
    }
}

@media only screen and (max-width: 413px) {
    .nav-link {
        margin: 0px 0px 6px 0px;
        padding: 11px;
    }

    .banner-title {
        margin-top: -90px;
    }

    #log-divider {
        min-height: 80px;
    }
}

@media only screen and (max-width: 375px) {
    .jumbotron {
        height: 540px;
    }

    .frog-section {
        top: 390px;
    }
}


/* ======================================================== */

/* Gallery Pages */

#char {
    background-image: url(../images/leaf-pattern2.png) !important;
}

.gallery-title {
    margin-top: 70px;
    font-family: 'Oregano', cursive;
    font-size: 70px;
    color: rgb(148, 196, 98);
    text-shadow: 2px 2px rgb(60, 47, 38);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-container {
    padding: 20px;
    background: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-column {
    text-align: center;
}

.gallery-image {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.gallery-image:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari */
    transform: scale(1.01);
}

.gallery-image:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
}

.modal-content {
    width: 900px;
}

.modal-content-layout {
    width: 1500px;
}

.modal-header {
    background: black;
    border-bottom: none;
}

.close {
    float: right;
    font-size: 4rem;
    font-weight: 700;
    line-height: 0.4;
    color: rgb(243, 221, 174);
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: rgb(148, 196, 98) !important;
}

.close:active {
    color: rgb(148, 196, 98) !important;
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari */
    transform: scale(0.9);
}

.close:focus {
    color: rgb(148, 196, 98) !important;
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari */
    transform: scale(0.9);
}

.modal-body {
    text-align: center;
    padding-bottom: 73px;
    background: black;
}

.modal-image {
    width: 90%;
    height: auto;
    margin: 20px;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#show-previous-image {
    position: absolute;
    top: 400px;
    left: 1%;
    color: rgb(243, 221, 174);
    font-weight: bold;
    font-size: 90px;
    background: none;
    border: none;
    z-index: 999;
}

#show-next-image {
    position: absolute;
    top: 400px;
    right: 1%;
    color: rgb(243, 221, 174);
    font-weight: bold;
    font-size: 90px;
    background: none;
    border: none;
    z-index: 999;
}

#show-previous-image:hover,
#show-next-image:hover {
    color: rgb(148, 196, 98);
}

#show-previous-image:active,
#show-next-image:active {
    color: rgb(148, 196, 98);
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari */
    transform: scale(0.9);
}

.image-gallery .modal-footer {
    display: block;
}

.character-modal {
    padding-right: 100px !important;
}

.traditional-modal {
    padding-right: 100px !important;
}

.layout-modal {
    padding-right: 700px !important;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}


/* ======================================================== */

/* Gallery Pages Media Queries */

@media (max-width: 1600px) {
    .modal-content-layout {
        width: 1200px;
    }

    .layout-modal {
        padding-right: 400px !important;
    }
}

@media (max-width: 1300px) {
    .modal-content-layout {
        width: 900px;
    }

    .layout-modal {
        padding-right: 100px !important;
    }
}

@media (max-width: 1024px) {
    .gallery-image {
        max-width: 88%;
    }

    #show-previous-image {
        top: 230px;
        left: 0%;
    }

    #show-next-image {
        top: 230px;
        right: 0%;
    }
}

@media (max-width: 992px) {
    .modal-content {
        width: 800px;
    }

    .modal {
        padding-right: 300px !important;
    }
}

@media (max-width: 768px) {
    .modal-content {
        width: 700px;
    }

    .modal {
        padding-right: 200px !important;
    }

    #show-previous-image {
        top: 180px;
        left: 0%;
    }

    #show-next-image {
        top: 180px;
        right: 0%;
    }

    .full-modal {
        display: none;
    }
}

@media (max-width: 650px) {
    .gallery-title {
        font-size: 60px;
    }

    .gallery-image {
        box-shadow: none;
    }

    .gallery-image:hover {
        box-shadow: none;
        -ms-transform: scale(1);
        /* IE 9 */
        -webkit-transform: scale(1);
        /* Safari */
        transform: scale(1);
    }

    .gallery-image:active {
        box-shadow: none;
        -ms-transform: scale(1);
        /* IE 9 */
        -webkit-transform: scale(1);
        /* Safari */
        transform: scale(1);
    }
}

@media (max-width: 413px) {
    .gallery-title {
        font-size: 50px;
    }
}