/* Home Page */

body {
    background-image: url(../images/leaf-pattern.png);
    background-attachment: fixed;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    transition: top 0.3s;
    background-image: url(../images/log3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    padding-top: 8px;
}

.nav-link {
    margin-left: 30px;
    margin-right: 30px;
    font-family: 'Oregano', cursive;
    font-size: 24px;
    color: rgb(243, 221, 174);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(148, 196, 98);
}

/* .nav-icon {
    height: 100px;
    width: 100px;
} */

.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 855px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.banner-title {
    font-family: 'Oregano', cursive;
    font-style: italic;
    font-size: 110px;
    color: black;
    /* text-shadow: 2px 2px rgb(148, 196, 98); */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.banner-subtitle {
    font-family: 'Oregano', cursive;
    /* font-style: italic; */
    font-size: 40px;
    color: black;
    /* text-shadow: 1px 1px rgb(148, 196, 98); */
}

.frog-section {
    position: absolute;
    top: 610px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.dancing-frog {
    width: 500px;
    height: auto;
}

.divider {
    background: rgb(22, 21, 19);
    height: 50px;
}

#log-divider {
    display: block;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -72px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.site-content {
    padding-top: 70px;
}

.section-title {
    text-align: center;
    font-family: 'Oregano', cursive;
    font-size: 34px;
    padding: 20px 10px 10px 10px;
}

.separation {
    border-bottom: 2px solid rgb(60, 47, 38);
    width: 400px;
    margin: 0 auto;
}

.gallery-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.gallery-links {
    display: flex;
    justify-content: center;
}

.gallery-link {
    margin: 50px 65px 0px 65px;
    font-family: 'Oregano', cursive;
    font-size: 26px;
    text-align: center;
}

.character-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/character/dia-de-los-muertosfinal.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.layout-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/layout/visdevhw2-final.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.traditional-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/traditional/mermanbook-pg2.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.character-image:hover,
.layout-image:hover,
.traditional-image:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari */
    transform: scale(1.01);
}

.character-image:active,
.layout-image:active,
.traditional-image:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
}

.character-link,
.layout-link,
.traditional-link {
    color: rgb(60, 47, 38);
}

.space-top {
    height: 280px;
}

.space {
    height: 200px;
}

.about-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.haley-cartoon {
    width: 150px;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-writing-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}

.about-paragraph {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
}

.contact-section {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contact-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.contact-items a {
    margin: 20px 30px 0px 30px;
    background: rgb(60, 47, 38);
    border-radius: 5px;
}

.contact-items img {
    width: 34px;
    height: 34px;
}

.icon:hover {
    background: rgb(148, 196, 98);
}

.icon:active {
    transform: scale(0.9, 0.9);
}

.footer {
    text-align: center;
    margin-top: 10px;
    padding: 4px;
    color: rgb(243, 221, 174);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/* ======================================================== */

/* Home Page Media Queries */

@media only screen and (max-width: 1200px) {
    .gallery-link {
        margin: 50px 50px 0px 50px;
    }

    .contact-items a {
        margin: 20px 20px 0px 20px;
    }
}

@media only screen and (max-width: 550px) {
    .gallery-link {
        margin: 50px 20px 0px 20px;
    }

    .contact-items a {
        margin: 20px 5px 0px 5px;
    }

    .separation {
        width: 200px;
    }
}


/* ======================================================== */

/* Gallery Pages */

#char {
    background-image: url(../images/leaf-pattern2.png) !important;
}

.gallery-title {
    margin-top: 70px;
    font-family: 'Oregano', cursive;
    font-size: 70px;
    color: rgb(148, 196, 98);
    text-shadow: 2px 2px rgb(60, 47, 38);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-container {
    padding: 20px;
    background: rgb(243, 221, 174);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-column {
    text-align: center;
}

.gallery-image {
    width: 300px;
    max-width: 100%;
    height: auto;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.gallery-image:hover {
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 22px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1.01);
    /* IE 9 */
    -webkit-transform: scale(1.01);
    /* Safari */
    transform: scale(1.01);
}

.gallery-image:active {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 18px 0 rgba(0, 0, 0, 0.19);
    -ms-transform: scale(1);
    /* IE 9 */
    -webkit-transform: scale(1);
    /* Safari */
    transform: scale(1);
}

.modal-content {
    width: 900px;
}

.modal-header {
    background: black;
    border-bottom: none;
}

.close {
    float: right;
    font-size: 4rem;
    font-weight: 700;
    line-height: 0.4;
    color: rgb(243, 221, 174);
    text-shadow: none;
    opacity: 1;
}

.close:hover {
    color: rgb(148, 196, 98) !important;
}

.close:active {
    color: rgb(148, 196, 98) !important;
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari */
    transform: scale(0.9);
}

.modal-body {
    text-align: center;
    padding-bottom: 73px;
    background: black;
}

.modal-image {
    width: 90%;
    height: auto;
    margin: 20px;
}

.btn:focus,
.btn:active,
button:focus,
button:active {
    outline: none !important;
    box-shadow: none !important;
}

#show-previous-image {
    position: absolute;
    top: 400px;
    left: 1%;
    color: rgb(243, 221, 174);
    font-weight: bold;
    font-size: 90px;
    background: none;
    border: none;
    z-index: 999;
}

#show-next-image {
    position: absolute;
    top: 400px;
    right: 1%;
    color: rgb(243, 221, 174);
    font-weight: bold;
    font-size: 90px;
    background: none;
    border: none;
    z-index: 999;
}

#show-previous-image:hover, #show-next-image:hover {
    color: rgb(148, 196, 98);
}

#image-gallery .modal-footer {
    display: block;
}

.thumb {
    margin-top: 15px;
    margin-bottom: 15px;
}



/* ======================================================== */

/* Gallery Pages Media Queries */