/* Home Page */

body {
    background-image: url(../images/leaf-pattern.png);
    background-attachment: fixed;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 999;
    transition: top 0.3s;
}

nav {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    padding-top: 8px;
}

.nav-link {
    margin-left: 30px;
    margin-right: 30px;
    color: black;
    font-family: 'Oregano', cursive;
    font-size: 24px;
    color: rgb(243, 221, 174);
}

.nav-link:hover {
    cursor: pointer;
    color: rgb(179, 236, 117);
}

/* .nav-icon {
    height: 100px;
    width: 100px;
} */

.jumbotron {
    margin-bottom: 0;
    background-image: url("../images/banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 855px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title {
    font-family: 'Oregano', cursive;
    font-style: italic;
    font-size: 110px;
    color: black;
    text-shadow: 2px 2px rgb(243, 221, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-title:hover {
    cursor: pointer;
}

.divider {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    height: 60px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.site-content {
    padding-top: 70px;
}

.section-title {
    text-align: center;
    font-family: 'Oregano', cursive;
    font-size: 34px;
    padding: 20px 10px 10px 10px;
}

.separation {
    border-bottom: 2px solid rgb(144, 192, 93);
    width: 400px;
    margin: 0 auto;
}

.gallery-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
}

.gallery-links {
    display: flex;
    justify-content: center;
}

.gallery-link {
    margin: 50px 65px 0px 65px;
    font-family: 'Oregano', cursive;
    font-size: 26px;
    text-align: center;
}

.character-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/character/dia-de-los-muertosfinal.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}

.layout-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/layout/visdevhw2-final.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}

.traditional-image {
    width: 150px;
    height: 150px;
    background-image: url(../images/traditional/mermanbook-pg2.jpg);
    border-radius: 10px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 3px solid black;
}

.character-image:hover,
.layout-image:hover,
.traditional-image:hover {
    opacity: 0.7;
}

.character-link,
.layout-link,
.traditional-link {
    color: black;
}

.character-link:hover,
.layout-link:hover,
.traditional-link:hover {
    color: rgb(144, 192, 93);
    text-decoration: none;
}

.space {
    height: 100px;
}

.about-section {
    min-height: 400px;
    background-color: rgb(243, 221, 174);
    border-radius: 20px;
}

.haley-cartoon {
    width: 150px;
    height: auto;
    margin-top: 25px;
    border-radius: 10px;
    border: 3px solid black;
}

.about-writing-section {
    display: flex;
    margin: 0 auto;
    width: 70%;
    padding-bottom: 20px;
}

.about-paragraph {
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0 auto;
    padding: 20px 10px 10px 10px;
}

.contact-section {
    background: linear-gradient(rgb(202, 168, 122), rgb(160, 115, 87), rgb(74, 60, 51));
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.contact-items {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.contact-items a {
    margin: 20px 30px 0px 30px;
    background: black;
    border-radius: 5px;
}

.contact-items img {
    width: 34px;
    height: 34px;
}

.icon:hover {
    background: rgb(144, 192, 93);
}

.icon:active {
    transform: scale(0.9, 0.9);
}

.footer {
    text-align: center;
    margin-top: 10px;
    padding: 4px;
    color: rgb(243, 221, 174);
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}


/* Home Page Media Queries */

@media only screen and (max-width: 1200px) {
    .gallery-link {
        margin: 50px 50px 0px 50px;
    }

    .contact-items a {
        margin: 20px 20px 0px 20px;
    }
}

@media only screen and (max-width: 550px) {
    .gallery-link {
        margin: 50px 20px 0px 20px;
    }

    .contact-items a {
        margin: 20px 5px 0px 5px;
    }

    .separation {
        width: 200px;
    }
}

/* ======================================================== */

/* Gallery Pages */


#char {
    background-image: url(../images/leaf-pattern2.png) !important;
}

.gallery-container {
    margin: 0 300px;
    padding: 30px;
    background: rgb(243, 221, 174);
    border-radius: 20px;
}

.gallery-title {
    font-family: 'Oregano', cursive;
    font-size: 70px;
    color: rgb(144, 192, 93);
    text-shadow: 2px 2px rgb(243, 221, 174);
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery-image {
    width: 300px;
    height: auto;
    padding: 20px;
}